In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("artworks.csv")
dataset.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),-1947.0,-2013.0,(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),-1916.0,-2007.0,(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),-1870.0,-1943.0,(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),-1861.0,-1944.0,(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),-1857.0,-1927.0,(Male),1903,Photography

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16729 entries, 0 to 16728
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        16728 non-null  object
 1   Artist       16729 non-null  object
 2   Nationality  16729 non-null  object
 3   BeginDate    15787 non-null  float64
 4   EndDate      10475 non-null  float64
 5   Gender       16729 non-null  object
 6   Date         16729 non-null  object
 7   Department   16729 non-null  object
dtypes: float64(2), object(6)
memory usage: 1.0+ MB

In [4]:
dataset["Nationality"] = dataset["Nationality"].str.strip("()")

In [5]:
print("(Dan(ial)'".strip("'"))

(Dan(ial)

In [6]:
"Dan(ial)".replace("(","")

'Danial)'

In [7]:
dataset.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,-1947.0,-2013.0,(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,-1916.0,-2007.0,(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,-1870.0,-1943.0,(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,-1861.0,-1944.0,(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,French,-1857.0,-1927.0,(Male),1903,Photography

In [8]:
dataset["Gender"] = dataset["Gender"].str.strip("()")
dataset.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,-1947.0,-2013.0,Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,-1916.0,-2007.0,Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,-1870.0,-1943.0,Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,-1861.0,-1944.0,Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,French,-1857.0,-1927.0,Male,1903,Photography

In [9]:
dataset["BeginDate"] = dataset["BeginDate"].astype(str)
dataset["BeginDate"] = dataset["BeginDate"].str.strip("-")
dataset["BeginDate"]

0        1947.0
1        1916.0
2        1870.0
3        1861.0
4        1857.0
          ...
16724    1898.0
16725    1942.0
16726    1882.0
16727       nan
16728    1927.0
Name: BeginDate, Length: 16729, dtype: object

In [10]:
dataset["EndDate"] = dataset["EndDate"].astype(str)
dataset["EndDate"] = dataset["EndDate"].str.strip("-")
dataset["EndDate"]

0        2013.0
1        2007.0
2        1943.0
3        1944.0
4        1927.0
          ...
16724    1986.0
16725       nan
16726    1967.0
16727       nan
16728       nan
Name: EndDate, Length: 16729, dtype: object

In [11]:
bad_char = ["(",")",".","C","c","s","S","'"," "]

In [12]:
for i in bad_char:
    dataset["Date"] = dataset["Date"].str.replace(i,"")

In [13]:
dataset["Date"].tail(30)

16699    1916-1932
16700         1986
16701         1944
16702    1985-1988
16703         2013
16704         2000
16705    1889-1911
16706    1880-1910
16707    1945-1951
16708         1968
16709    1964-1965
16710         1955
16711         1983
16712         1938
16713         1947
16714         1967
16715         1966
16716         1929
16717         1905
16718         1946
16719         1903
16720         1999
16721         1947
16722         1936
16723         1943
16724    1968-1969
16725         1975
16726         1922
16727         1931
16728         2011
Name: Date, dtype: object

In [14]:
indx = \
dataset.loc[dataset["Date"].str.startswith("-"),"Date"].index # row , col

dataset.loc[indx,"Date"]=\
dataset.loc[indx,"Date"].str.replace("-","")

In [15]:
date = dataset.loc[dataset["Date"].str.contains("-"),"Date"]
date = date.str.split("-", expand = True)
date = date.astype(int)

In [16]:
date = round((date[0] + date[1])/2).astype(int)

In [17]:
dataset.loc[date.index,"Date"] = date

In [18]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16729 entries, 0 to 16728
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        16728 non-null  object
 1   Artist       16729 non-null  object
 2   Nationality  16729 non-null  object
 3   BeginDate    16729 non-null  object
 4   EndDate      16729 non-null  object
 5   Gender       16729 non-null  object
 6   Date         16729 non-null  object
 7   Department   16729 non-null  object
dtypes: object(8)
memory usage: 1.0+ MB

In [19]:
int(float("4.5"))

4

In [20]:
dataset["BeginDate"].astype(float)

0        1947.0
1        1916.0
2        1870.0
3        1861.0
4        1857.0
          ...
16724    1898.0
16725    1942.0
16726    1882.0
16727       NaN
16728    1927.0
Name: BeginDate, Length: 16729, dtype: float64